node_modules
# Keep environment variables out of version control
.env
backend/.env
backend/.gitignore
*.env
backend/controllers/utils/mailer.js
backend/.env
backend/logs/*.log
INICIARBACK.bat
INICIARFRONT.bat
SLBackend.ps1
SLFrontend.ps1