/** @format */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Scrollbar styling */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f5f9;
  }

  ::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 3px;
    border: 1px solid #ccc;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #999;
  }

  /* Global HTML styling */
  html {
    font-family: "Inter", sans-serif;
    line-height: 1.3;
    background-color: rgb(243, 243, 243);
  }

  /* Table styling */
  table {
    @apply w-full; /* This is a custom utility class that defines width: 100% */
    @apply mx-auto; /* This is a custom utility class that centers the element horizontally */
    border-collapse: collapse;
  }

  th, td {
    @apply p-1; /* Padding */
    @apply break-words; /* Word wrap */
    @apply text-center; /* Text alignment */
    @apply text-sm; /* Font size (0.875rem) */
    @apply max-w-0; /* Max width (prevents overflow) */
    @apply whitespace-pre-line; /* Allow line breaks */
    @apply overflow-hidden; /* Hide overflow */
    @apply text-center;
  }

  .btn-primary, .btn-cancel, .btn-edit, .btn-login, .btn-big, .btn-generate, .btn-disabled {
    @apply mx-auto; /* Center horizontally */
  }
}

thead th {
  @apply text-sm; /* Font size (0.875rem) */
  @apply h-10; /* Maximum height (customize as needed) */
  @apply whitespace-nowrap; /* Prevent line breaks */
  @apply overflow-hidden;
  @apply overflow-ellipsis; /* Show ellipsis when content overflows */
}


  th {
    @apply font-semibold py-3 px-6 bg-gray-100;
  }

  tr {
    @apply border-b;
  }

  a {
    @apply text-sky-500 hover:underline;
  }

  tr:first-child th:first-child {
    @apply rounded-tl-lg;
  }

  tr:first-child th:last-child {
    @apply rounded-tr-lg;
  }

  tr:last-child td:first-child {
    @apply rounded-bl-lg;
  }

  tr:last-child td:last-child {
    @apply rounded-br-lg;
  }


@layer components {
  /*-------------------- CONTAINERS ---------------*/
  .fc {
    @apply flex items-center;
  }

  .fcj {
    @apply flex items-center justify-center;
  }

  .components-container {
    @apply bg-neutral-500 h-screen w-screen overflow-hidden flex flex-row;
  }

  .basic-container {
    @apply bg-white mb-2 px-4 pt-3 pb-4 rounded-md border border-gray-200 flex-1 mr-4;
  }

  .title-container {
    @apply bg-white px-4 pt-3 pb-4 rounded-sm border border-gray-200 flex-1 mr-4 w-1/6 mb-2;
  }

  .login-container {
    @apply bg-white px-4 pt-3 pb-4 rounded-lg border border-gray-200 w-1/3;
  }

  .responsive-bg {
    @apply bg-OxfordBlue w-screen h-screen grid place-items-center;
  }

  .search-bg {
    @apply bg-neutral-600 rounded-md min-h-screen p-4;
  }

  .fjus-container {
    @apply mt-4 flex justify-between text-center;
  }

  .fcol-container {
    @apply mt-4 flex flex-col items-center text-center;
  }

  /*-------------------- FORMS	 ---------------*/
  .signup-form {
    @apply grid place-items-center;
  }

  .form-container {
    @apply m-2 shadow-lg border-gray-100 border-2 p-8 rounded-sm;
  }

  .HeadContent {
    @apply rounded-md bg-gray-800 border-b border-solid shadow-md p-4;
  }

  .form-input {
    @apply mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1;
  }

  .form-lbl {
    @apply font-medium text-base mt-1;
  }

  /*-------------------- BUTTONS ---------------*/
  .btn-primary {
    @apply text-xl md:text-base py-1 md:py-2 px-1 md:px-2 bg-IndigoDye text-white font-semibold rounded-lg shadow-md hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-sky-700 focus:ring-opacity-75 ;
  }

  .btn-print {
    @apply bg-Cerulean hover:bg-Moonstone hover:scale-105 transition-transform transform active:scale-95 focus:outline-none text-sm mr-2 text-white hover:text-white;
  }

  .btn-cancel {
    @apply text-xs md:text-sm py-1 md:py-2 px-1 md:px-2 bg-RedPantone hover:bg-FireBrick text-white font-bold rounded-lg mt-2 ml-3 focus:ring-red-400 shadow-md focus:outline-none focus:ring-2 focus:ring-opacity-75;
  }

  .btn-search{
    @apply bg-Moonstone font-semibold text-white p-2 rounded-md shadow-md hover:bg-Cerulean hover:scale-105 transition-transform transform active:scale-95 focus:outline-none ml-2 mt-2 text-base px-4
  }

  .btn-edit {
    @apply text-xs md:text-sm py-1 md:py-2 px-1 md:px-2 bg-Cerulean hover:bg-IndigoDye text-white font-bold rounded-lg mt-2 ml-3 focus:ring-NonPhotoblue shadow-md focus:outline-none focus:ring-2 focus:ring-opacity-75;
  }

  .btn-login {
    @apply active:scale-[.98] active:duration-75 hover:scale-[1.01] ease-in-out transition-all text-2xl w-1/2 h-14 rounded-lg bg-OxfordBlue text-white font-bold;
  }

  .btn-big {
    @apply text-xs md:text-sm py-1 md:py-2 px-1 md:px-2 bg-blue-500 text-white rounded-md shadow-lg hover:bg-blue-600 hover:scale-105 transition-transform transform active:scale-95 focus:outline-none mt-2;
  }

  .btn-generate {
    @apply text-xs md:text-sm py-1 md:py-2 px-1 md:px-2 bg-green-500 text-white rounded-md shadow-lg hover:bg-green-600 hover:scale-105 transition-transform transform active:scale-95 focus:outline-none;
  }

  .btn-disabled {
    @apply text-xs md:text-sm py-1 md:py-2 px-1 md:px-2 bg-gray-500 hover:bg-gray-500 text-white font-bold rounded-lg mt-2 ml-3 focus:ring-NonPhotoblue shadow-md focus:outline-none focus:ring-2 focus:ring-opacity-75;
  }

  /*-------------------- TEXT ---------------*/
  .title {
    @apply text-3xl font-bold;
  }

  .subtitle {
    @apply font-medium text-lg mt-4;
  }

  .body {
    @apply font-normal text-base;
  }

  .link {
    @apply font-medium text-base text-OxfordBlue hover:text-Cerulean;
  }

  .user {
    @apply font-semibold text-2xl ml-3 text-OxfordBlue;
  }

  /* strongs */
  .title-strong {
    @apply pr-2 text-2xl font-semibold text-Cerulean;
  }

  /*-------------------- INPUTS ---------------*/
  .input-prim {
    @apply bg-transparent w-full border-2 border-gray-500 rounded-lg p-4 mt-1 focus:outline-none focus:ring-blue-400 focus:ring-2 text-base;
  }

  .input-2ry {
    @apply bg-transparent border-2 border-gray-500 rounded-lg p-4 mt-2 focus:outline-none focus:ring-blue-400 focus:ring-2 w-1/5 text-base;
  }

  .input-lg {
    @apply bg-transparent border-2 border-gray-500 rounded-lg p-8 mt-2 focus:outline-none focus:ring-blue-400 focus:ring-2 w-full;
  }

  .input-search {
    @apply border-2 rounded-md py-2 px-4 pl-10 text-gray-600 focus:outline-none focus:ring focus:ring-NonPhotoblue focus:border-NonPhotoblue border-Cerulean
  }

  /*-------------------- SELECTS ---------------*/
  .select-prim {
    @apply appearance-none bg-transparent border-2 border-gray-500 rounded-lg py-3 px-4 pr-8 focus:outline-none focus:border-blue-500 text-base w-1/6;
  }

  .select-2ry {
    @apply appearance-none bg-transparent border-2 border-gray-500 rounded-lg py-3 px-4 pr-8 focus:outline-none focus:border-blue-500 w-full text-base;
  }

  .select-category {
    @apply ml-2 border-2 font-bold text-base rounded-md py-2 px-4 text-black focus:outline-none focus:ring focus:ring-NonPhotoblue focus:border-NonPhotoblue border-Cerulean
  }

  .instructions {
    @apply text-sm text-red-600;
  }

  .warning {
    @apply mr-2 text-2xl text-red-500;
  }

  .err-icon {
    @apply ml-3 text-red-500;
  }

  .title-tr {
    @apply bg-slate-400;
  }

  .shadow-container {
    @apply relative shadow rounded-lg mt-3;
  }

  .img-pos {
    @apply h-48 w-full object-cover rounded-t-lg;
  }

  /*-------------------- TABLE PADDING ---------------*/

  .th1 {
    @apply py-3 px-1 text-center;
  }

  .th2 {
    @apply py-3 px-6;
  }

  /*-------------------- HEADER ---------------*/
  .header-container {
    @apply sticky top-0 z-50 bg-slate-100 h-16 px-4 flex justify-between items-center border-b border-gray-200;
  }

  .menu-item {
    @apply text-gray-700 focus:bg-gray-200 cursor-pointer rounded-sm px-4 py-2;
  }

  .menu {
    @apply origin-top-right z-10 absolute right-0 mt-2 w-48 rounded-sm shadow-md p-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none;
  }

  .menu-btn-img {
    @apply h-10 w-10 rounded-full bg-gray-500 bg-cover bg-no-repeat bg-center;
  }

  .menu-btn {
    @apply ml-2 inline-flex rounded-full focus:outline-none focus:ring-2 focus:ring-neutral-400;
  }

  .Search {
    @apply text-gray-400 absolute top-1/2 -translate-y-1/2 left-3;
  }

  .Search-input {
    @apply text-sm focus:outline-none active:outline-none h-10 w-[24rm] border border-gray-300 rounded-sm pl-11 pr-4;
  }

  .Search-container {
    @apply absolute top-16 left-0 w-[24rm] max-h-60 bg-white border border-gray-300 rounded-b-md shadow-md overflow-y-auto z-50;
  }

  .Search-result {
    @apply px-4 py-2 text-gray-700 font-medium text-lg block;
  }

  .Search-text {
    @apply px-4 py-2.5 cursor-pointer hover:bg-gray-100 hover:text-blue-500 text-base;
  }

  .Popover-btn {
    @apply p-1.5 rounded-sm inline-flex items-center text-gray-700 hover:text-opacity-100 focus:outline-none active:bg-gray-100;
  }

  .Popover {
    @apply absolute right-0 z-10 mt-2.5 w-80;
  }

  .Popover-container {
    @apply bg-white rounded-sm shadow-md ring-1 ring-black ring-opacity-5 px-2 py-2.5;
  }

  .Popover-title {
    @apply text-gray-700 font-medium;
  }

  .Popover-text {
    @apply mt-2 py-1 text-sm;
  }

  /*-------------------- SIDEBAR ---------------*/
  .Layout {
    @apply flex flex-col min-h-screen;
  }

  .img-container-side {
    @apply h-16 flex items-center gap-2 px-1 pt-1.5 sticky top-0 z-50;
  }

  .img-side {
    @apply flex items-center pl-3.5;
  }

  .side-menu {
    @apply max-h-[calc(100vh-64px)] overflow-y-auto sticky top-16 z-50;
  }

  .content {
    @apply bg-white rounded-lg m-3 p-3 min-h-fit mb-4;
  }

  .side-menu::-webkit-scrollbar {
    width: 6px;
  }

  .side-menu::-webkit-scrollbar-track {
    background: transparent;
  }

  .side-menu::-webkit-scrollbar-thumb {
    @apply bg-Cerulean rounded-md border-solid border-NonPhotoblue hover:bg-NonPhotoblue
  }

  /*-------------------------------------------- PAGINATOR ----------------------------------------*/

  .pageLinkClassName {
    @apply bg-IndigoDye text-white font-semibold py-2 px-4 rounded-full mx-1 hover:bg-Cerulean hover:no-underline hover:text-white
  }

  .prevOrNextLinkClassName {
    @apply bg-IndigoDye text-white font-semibold py-2 px-4 rounded-full mx-1 hover:bg-Cerulean hover:no-underline hover:text-white 
  }

  .breakLinkClassName {
    @apply text-gray-600 py-2 px-4 rounded-full mx-1
  }

  .activeLinkClassName {
    @apply bg-PennBlue text-white py-2 px-4 rounded-full mx-1
  }
  
}